= image_tag @event.background.url, class: "bg-img"
#container
	%p 
		We recommend that you donate 
		%span= Price.new(@money_amount).to_s
		to compensate for your travels.

	=link_to("Give a tree", new_event_tree_path)
	%br
	=link_to("Make a pledge", new_pledge_path(user_id: params[:user_id], event_id: params[:event_id]))
