#container
	%h1 Give a tree

	= form_for @tree do |f|
		%p 
			I will donate $
			%input.inline{type: "number", name: "amount", class: "donate_money", placeholder: '24', step: 0.1}
			toward
			= f.number_field(:name, class: "donate_tree", placeholder: '2', step: 0.1)
			trees.
		= f.submit("Donate", class: "button")

%script
	$(".donate_money").bind("keyup paste click", function() {
	$(".donate_tree").val( ($(this).val() / 12).toFixed(1) );
	});

	$(".donate_tree").bind("keyup paste click", function() {
	$(".donate_money").val( ($(this).val() * 12).toFixed(1) );
	});
