= image_tag @event.background.url, class: "bg-img"
#container
	%h1 It's a Treevolution, help us plant!
	
	= form_for @tree, url: event_trees_path(@event) do |f|
		%p 
			I'll donate R
			= f.number_field :rand_given, class: "donate_money inline", value: params[:amount] 
			towards tree planting in southern Africa
		= f.submit("Join the Treevolution now!", class: "button")

