= image_tag "home.jpg", class: "bg-img"
#container  
  %h1 Hi there!
  %p Welcome to the GreenUP Travel App. 
  %ul
    = form_tag(events_path, method: 'get') do
      %li= text_field_tag("event_search", params[:event_search], :placeholder =>"Search for your event...")
  %ul
    - if @events.any?
      %h2 Search Results
      - @events.each do |event| 
        %li 
          = link_to(event.name, new_event_user_path(event))
    - elsif params[:event_search]
      %h2 No Events Found
